<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Palindrome true or false?</h2>

    <p>word:  <%= @word %></p>
    <p>result: <%= @y %></p>
  </div>
</div> 
